*{
	box-sizing: border-box;
}
body {
    background-color: #d6d6d6;
}
h1{
	font-family: Cambria, Georgia, serif;
	text-align: center;
	color: black;
}
section {
    border: 1px solid black;
    background-color: #b5c4d2;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
}
section.p1>h2 {
    background-color: #76b8db;
}

section.p2>h2 {
    background-color: #4f7acd;
}

section.p3>h2 {
    color: #e2e2e2;
    background-color: #10328a;
}

section>p {
    padding: 40px 15px 15px 15px;
}
@media(min-width:992px){
	.s1,
	.s2,
	.s3{
		float: left;
	}
	.s1{
		width: 33.3%;
	}
	.s2{
		width: 33.3%;
	}
	.s3{
		width: 33.3%;
	}
}
@media(min-width: 768px) and (max-width: 991px) {
	.s1,
	.s2,
	.s3{
		float: left;
	}
	.s1{
		width: 50%;
	}
	.s2{
		width: 50%;
	}
	.s3{
		width: 100%;
	}
}
@media(max-width: 767px){
	.s1,
	.s2,
	.s3{
		width: 100%;
		float: left;
	}
}
